body{
    background-image: url("../images/pink-purple-crystal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: lightgoldenrodyellow;
}

.crystal-images {
    height: 78px;
    width: 81px;
    padding: 2px;
}

h1 {
    font-family: monospace;
}

h5 {
    font-family: monospace;
    font-size: 25px;
}

p {
    font-family: monospace;
    font-size: 18px;
}